@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body,
html {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header {
  width: 50vw;
  max-width: 400px;
  min-width: 400px;
  height: 150px;
  background: url(img/ZRFV_front.png), url(img/dark-mode.jpg);
  background-color: black;
  background-size: cover;
  background-position: center center;
  transition: all 0.08s linear;
}

#profile {
  width: 50vw;
  max-width: 400px;
  min-width: 400px;
  height: 200px;
  background: #bbb;
  position: relative;
  box-sizing: border-box;
  padding-top: 32px;
  padding-left: 25px;
  font-family: sans-serif;
}
#profile .image {
  position: absolute;
  border: 3px solid yellow;
  top: -112px;
  left: 20px;
  height: 128px;
  width: 128px;
  border-radius: 8px;
}
#profile .image img {
  width: inherit;
  height: inherit;
  border-radius: 4px;
}

#profile .name {
  font-size: 1.6rem;
  font-weight: 400;
  /*color: #f00;*/
}
#profile .info {
  color: #444;
  font-size: 1rem;
  padding-bottom: 8px;
}

.shadow {
  box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.75);
}

.overflow {
  overflow: hidden;
}

#profile .bottom {
  margin-top: 20px;
}

.social {
  width: 32px;
  height: 32px;
}

a {
  color: inherit;
  text-decoration: none; /* no underline */
}

b {
  color: inherit;
  font-weight: 800;
  font-family: "BLOK";
}

@font-face {
  font-family: "BLOK";
  src:
    url("files/BLOK.woff2") format("woff2"),
  font-weight: normal;
  font-style: normal;
}
