@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-image: url("img/Dtultd.jpg"); */
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile {
  width: 384px;
  height: 256px;
  /* background-color: black; */
  position: relative;
  box-sizing: border-box;
  padding-top: 32px;
  padding-left: 25px;
  font-family: sans-serif;
  overflow: hidden;
}

#profile .name {
  font-size: 1.6rem;
  font-weight: 400;
  /*color: #f00;*/
}

#profile .links {
  margin-top: 32px;
}

.social {
  width: 32px;
  height: 32px;
}

a {
  color: inherit;
  text-decoration: none; /* no underline */
}

rfv {
  color: inherit;
  font-size: 24px;
  font-family: "ZRFV";
}

z {
  color: yellow;
  font-size: 32px;
  font-family: "ZRFV";
}

@font-face {
  font-family: "ZRFV";
  src: url("files/ZRFV-Book.woff2"), format("woff2");
  font-weight: normal;
  font-style: normal;
  font-kerning: none;
}